lap/src/main/resources/btbPipeData/clarkData/resources/dtds/RegConstraints/regConstraint.dtd

<!DOCTYPE CLaRK_reg_constraints [

<!ELEMENT CLaRK_reg_constraints (comment?,regConstraint+)>

<!ELEMENT comment (#PCDATA)>

<!ELEMENT regConstraint (name, regExpr, tokenizer?, filter?, defaultXPath?)>

<!ELEMENT name (#PCDATA)>

<!ELEMENT regExpr (#PCDATA)>

<!ELEMENT filter (#PCDATA)>

<!ELEMENT tokenizer (#PCDATA)>

<!ELEMENT defaultXPath (#PCDATA)>
]>
