lap/src/main/resources/btbPipeData/clarkData/resources/dtds/docInfo.dtd

<!DOCTYPE docInfo [

<!ELEMENT docInfo (comment?,document+)>
<!ATTLIST docInfo
	type  (tags|words)   #REQUIRED>

<!ELEMENT comment (#PCDATA)>

<!ELEMENT document (entry*)>
<!ATTLIST document
	name CDATA #REQUIRED>

<!ELEMENT entry EMPTY>
<!ATTLIST entry
	item CDATA #REQUIRED
	count CDATA #REQUIRED>
]>
