lap/src/main/resources/btbPipeData/clarkData/resources/dtds/resultMultiEx.dtd

<!DOCTYPE MultiQueryEx [

<!ELEMENT MultiQueryEx (Query*,Control*)>
<!ELEMENT Query (Type,Name,Result)>
<!ELEMENT Type (#PCDATA)>
<!ELEMENT Name (#PCDATA)>

<!ELEMENT Result (document*,FinalResult?,Query*,Control*)|(#PCDATA)>
<!ELEMENT document (Name,Status)>
<!ELEMENT Status (#PCDATA)>
<!ELEMENT FinalResult (#PCDATA)>
<!ELEMENT Control (Type,Position,Status,Jump_to)>

<!ELEMENT Position (#PCDATA)>

<!ELEMENT Jump_to (#PCDATA)>
]>