lap/src/main/resources/btbPipeData/clarkData/resources/dtds/statistics.dtd

<!DOCTYPE  statistics [

<!ELEMENT  statistics (documents, item+ , all )>
<!ELEMENT  documents (document+)>
<!ELEMENT  document  (#PCDATA)>
<!ELEMENT  item (category?, element, number?, percent?, keyvalue?)>
<!ELEMENT  category (#PCDATA)>
<!ELEMENT  element (#PCDATA)>
<!ELEMENT  number (#PCDATA)>
<!ELEMENT  percent (#PCDATA)>
<!ELEMENT  keyvalue (#PCDATA*)>
<!ELEMENT all (number, percent)>
]>