lap/src/main/resources/btbPipeData/clarkData/resources/dtds/queries/insertparentquery.dtd

<!DOCTYPE InsertParentQuery [
<!ENTITY % common SYSTEM 'query.dtd'>

<!ELEMENT InsertParentQuery (xpath, parentTag, info?, multiple?)>
<!ATTLIST InsertParentQuery
	toolName CDATA #FIXED "InsertParent"
>
<!ELEMENT xpath (#PCDATA)>	<!-- The XPath expression -->
<!ELEMENT parentTag (#PCDATA)>	<!-- The new parent tag name -->
%common;
]>