lap/src/main/resources/btbPipeData/clarkData/resources/dtds/queries/insertattributequery.dtd

<!DOCTYPE InsertAttributeQuery [
<!ENTITY % common SYSTEM 'query.dtd'>

<!ELEMENT InsertAttributeQuery (xpath, attrInfo, info?, multiple?)>
<!ATTLIST InsertAttributeQuery
	toolName CDATA #FIXED "InsertAttribute"
>
<!ELEMENT xpath (#PCDATA)>	<!-- The XPath expression -->
<!ELEMENT attrInfo EMPTY>	<!-- The new attribute info -->
<!ATTLIST attrInfo
	name	CDATA	#REQUIRED
	value	CDATA	#REQUIRED
	skipExisting	(y|n)	"y"
>

%common;
]>