lap/src/main/resources/btbPipeData/clarkData/resources/dtds/queries/neuralnetworkquery.dtd

<!DOCTYPE NNQuery [
<!ENTITY % common SYSTEM 'query.dtd'>

<!ELEMENT NNQuery (sXPath, wXPath, vXPath, info?, multiple?)>
<!ATTLIST NNQuery
	toolName CDATA #FIXED "NeuralNetwork"
>
<!ELEMENT sXPath (#PCDATA)>	<!-- The XPath expression -->
<!ELEMENT wXPath (#PCDATA)>	<!-- The XPath expression -->
<!ELEMENT vXPath (#PCDATA)>	<!-- The XPath expression -->

%common;
]>